   $color1: rgba(171,221,198,1.00); // Scandal
   $color2: rgba(91,106,99,1.00); // Shuttle Grey
   $color3: rgba(125,157,152,1.00); // Acapulco
   $color4: rgba(255,249,237,1.00); // Floral White
   $color5: rgba(213,151,142,1.00); // Petite Orchid
  
   $color6: rgba(187,222,213,1.00); // Cruise
   $color7: rgba(247,228,190,1.00); // Milk Punch
   $color8: rgba(240,180,158,1.00); // Wax Flower
   $color9: rgba(179,129,132,1.00); // Brandy Rose
   $color10: rgba(115,98,110,1.00); // Rum
  
   $color11: #000; // Black
   $color12: #fff; // White

   $color13: rgba(247,228,190,0.80); // Milk Punch Trans 
   $color14: rgba(179,129,132,0.80); // Brandy Rose
   $color15: rgba(213,151,142,0.80); // Petite Orchid Trans
   $color16: rgba(115,98,110,0.80);  // Rum Trans

   $color17: rgba(162,180,161,0.80); // Tower Grey 
   $color18: rgba(108,112,94,0.80); // Willow Grove
   $color19: rgba(213,210,196,0.80);  // Westar

   $blockquote: Constantia, "Lucida Bright", Lucidabright,
   "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif",
   "Liberation Serif", Georgia, serif;
